@import '../../common/component.scss';
.btn {
    padding: 10px;
    border-radius: green;
    
    &-submit {
        background-color: green;
    }
    &-cancel {
        background-color: red;
    }
}
